.s-dropdown.s-dropdown-tooltip-light-theme {
    padding: 10px 20px;
    text-align: center;

    background-color: #eee;
    border-radius: 10px;
}

.s-dropdown-tooltip-light-theme::after {
    content: " ";

    position: absolute;

    top: 100%;
    left: 50%;

    margin-left: -5px;

    border-width: 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
}

.s-dropdown-position-bottom.s-dropdown-tooltip-light-theme::after {
    top: 0;
    bottom: 100%;
    left: 50%;

    margin-top: -10px;

    border-color: transparent transparent #eee transparent;
}

.s-dropdown-align-right.s-dropdown-tooltip-light-theme::after {
    left: 15%;
}

.s-dropdown-align-left.s-dropdown-tooltip-light-theme::after {
    left: 85%;
}
